# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
firebase.js

# .env
.env

# 開発環境用環境変数
.env.development

# 本番環境用環境変数
.env.production

# Firebase関連のファイルやディレクトリを無視する
build/
.firebase/
firebase.json
.firebaserc