.message-icon {
    background-color: #e4e5e6;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin: 10px 30px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.comment-container {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.comment-container.collapsed {
    max-height: 0;
}

.content-text,.comment-text {
    white-space: pre-wrap;
    word-break: break-all;
}

.image-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding-top: 10px;
    align-items: center;
    width: 95%;
}

.image-box {
    flex: 0 0 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userInf {
    display: flex;
}

.users-profile-Img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}

.message-icon div {
    margin-bottom: 10px;
}

.message-icon div.text {
    font-weight: bold;
}

.message-icon button:focus {
    outline: none;
}

.message-icon button:active {
    transform: translateY(1px);
}

/* MessageIcon.css */
.border-area {
    display: flex;
    align-items: center;
    height: 15px;
}

.like-button,
.comment-button,
.delete-button,
.reply-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.like-button svg,
.comment-button svg,
.delete-button svg {
    width: 20px;
    height: 20px;
    fill: #555;
    transition: fill 0.3s ease;
}

.like-count {
    padding-bottom: 5px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 30%;
    max-width: 600px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    margin-top: 0;
}

.modal textarea {
    width: 95%;
    min-height: 100px;
    padding: 8px;
    margin-bottom: 16px;
    margin-right: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.modal button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #0056b3;
}

.send-button {
    text-align: center;
}

.send-icon{
    margin-left: 5px;
    margin-bottom: -1px;
}

.close-icon {
    margin-left: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.close-button {
    margin-left: 5px;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.comment {
    background-color: #efefef;;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin: 10px 70px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);
    animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.reply-button {
    color: #414040;
}

@media (max-width: 568px) {
    .message-icon {
        margin: 10px 15px; /* コンテナの外側のマージンを調整 */
        padding: 10px; /* パディングを縮小 */
    }

    .users-profile-Img {
        width: 30px; /* プロファイル画像のサイズを縮小 */
        height: 30px;
    }

    .message-icon div.text {
        font-size: 14px; /* テキストのフォントサイズを縮小 */
    }

    .content-text, .comment-text {
        font-size: 13px; /* コンテンツテキストのフォントサイズを縮小 */
    }

    .image-container {
        width: 90%;
    }

    .image-box {
        flex-basis: 200px; /* 小さなデバイスでは画像コンテナの基本サイズを80pxに設定 */
        height: 200px;
    }

    .like-button svg,
    .comment-button svg,
    .delete-button svg {
        width: 18px; /* アイコンのサイズを縮小 */
        height: 18px;
    }

    .modal {
        width: 80%; /* モーダルの幅を調整 */
        height: auto; /* モーダルの高さを内容に合わせて自動調整 */
        max-height: 90%; /* モーダルの最大高さを調整 */
    }

    .modal textarea {
        width: 95%; /* テキストエリアの幅を調整 */
        margin-right: 0; /* マージンを削除 */
    }

    .comment {
        margin: 10px 30px; /* コメントのマージンを調整 */
    }
}
