.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/img/home.jpg'); /* ここに背景画像のURLを指定 */
    background-size: cover;
    background-position: center;
}

.login-form {
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ソフトなシャドウを追加 */
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

@media (max-width: 568px) {
    .container {
        padding: 10px; /* コンテナの内側のパディングを追加して余白を確保 */
    }

    .login-form {
        max-width: 100%; /* フォームの最大幅を100%に設定 */
        padding: 15px; /* フォームのパディングを調整 */
    }

    .login-form h2 {
        font-size: 20px; /* タイトルのフォントサイズを縮小 */
    }

    .form-control {
        width: 95%; /* フォームコントロールの幅を100%に設定 */
        padding: 8px; /* パディングを少し減らす */
        font-size: 14px; /* フォントサイズを縮小 */
    }

    .btn-primary {
        padding: 12px; /* ボタンのパディングを調整 */
        font-size: 14px; /* ボタンのフォントサイズを縮小 */
    }

    .signup-link {
        margin-top: 10px; /* サインアップリンクの上のマージンを調整 */
    }
}
